# Binaries for programs and plugins
my-cli
test-cli

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

.idea
.junie

# macOS
.DS_Store

# Dependency directories
/.antigravitycli/*.json
